# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
mvnw.*
.log

# Surefire test reports
/surefire-reports/
/failsafe-reports/

.vscode/

*.class
*.jar
*.war
*.ear

# keep source
!src/
!src/main/
!src/main/java/
!src/test/
!src/test/java/